<!DOCTYPE html>
<html xmlns:th="http://wwww.thymeleaf.org/1999">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <title>TellerAssist Reports | Speed Configuration Form</title>
        <link rel="stylesheet" th:href="@{/styles/styles.css"} type="text/css" />
    </head>
    <body>
        <div id="bodyContent">
            <div id="headerPane" th:include="headerPage.html">
            </div>
            <div id="centerPane">
                <h1>TellerAssist Benchmark Speed Configuration </h1>
                <fieldset id="speedConfigPane">
                    <legend>Benchmark Speed Configuration</legend>
                    <p th:value="${speedConfig.configValue}"></p>
                        <label for="configValue"> 
                        <form th:object="speedConfig">
                            <input path="configValue" type="text" name="configValue" />
                            <input type="submit" value="Submit" />
                        </form>
                    </label>
                </fieldset>
            </div>
        </div>

    </body>
</html>
