<!DOCTYPE html>
<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <title>TellerAssist Reports | Manage User Form</title>
        <link rel="stylesheet" type="text/css" href="<c:url value= '/styles/styles.css' />" />
    </head>
    <body>
        <div id="bodyContent">
            <div id="headerPane"><%@include file="headerPage.jsp" %></div>
            <div id="centerPane">
                <h1>Manage User Form</h1>
                <hr/>

            </div>
        </div>

    </body>
</html>
